/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2014, 7:35:17 PM
    Author     : Travis
*/

body {background: url(images/content-bg.jpg) repeat-x scroll 50% 0px #17120E; margin: 0 auto;}
#content {width:1205px;  min-height: 900px; background: url(images/body_bg.jpg) ; margin: 0 auto;}
#page-layout{text-align: left; width:550px; padding-left: 25px;}
#footer{margin: 0 auto;}
#header {width:100%; height:155px; padding: 0; margin: 0 auto; background-image: url(resources/images/header_bg.jpg);}
.restaurant-table,
.instructor-data,
.golf-data-table,
.employee-table,
.member-table{
    width: 90%;
    margin:0 auto;
}

.adminMenu{
    color: #fff;
}

